# Ignore all .csv  and env folders 
/bronze/*.csv



# Ienv
.venv/

# vscode 
.vscode
/.vscode

# keep folders
!*/
/data/bronze/dim_deputies.csv
/data/bronze/fact_attedace.csv
/data/bronze/fact_propositions.csv
/data/bronze/fact_expenses.csv
/.vscode
*.pyc
